<script>

</script>
<script type="text/javascript" src=" {{ 'jquery.prettyPhoto.js' | asset_url }} "></script>
<!-- ********************** --> 
  <!--     I N T R O          -->
  <!-- ********************** --> 

  <div id="intro">
    <div id="intro_wrap">
      <div class="container_12">
<!--         <div id="breadcrumbs" class="grid_12">
          <a href="">Home</a>
          &gt;
          <a href="">Clothing</a>
        </div>
 -->        <h1>{{ product.name }} </h1>
      </div>
    </div>
  </div>
  <!-- end of intro -->

  <!-- ********************** --> 
  <!--      C O N T E N T     -->
  <!-- ********************** --> 
  <div id="content" class="product_view container_12">

    <div id="product" class="grid_12">
      <div id="product_images" class="grid_4 alpha">
        <a id="product_image_preview" rel="prettyPhoto[gallery]" href="{{ product | product_image_url :'bigger' }}"><img id="image" src="{{ product | product_image_url :'larger' }}" title="{{ product.name }}" alt="{{ product.name }}" /></a>
      </div>
      <div id="product_info" class="grid_4">
        <!-- <p class="s_price s_promo_price"><span class="s_old_price">940.00<span class="s_currency s_after"> eur</span></span> 822.50<span class="s_currency s_after"> eur</span></p> -->
        <dl class="clearfix">
          <dt>Availability</dt>
          <dd>In Stock</dd>
          <dt>Model</dt>
          <dd>Product 4</dd>
          <dt>Manufacturer</dt>
          <dd><a href="#">Canon</a></dd>
        </dl>
        <p class="s_short_desc">{{ product.description }} </p>
      </div>
      <div class="grid_4 omega">
       <div class="suffix_2 left s_999">
          <p></p>
          <p class="s_f_11"></p>
        </div>
        <br>
        <br>
        <br>
        <div class="clear"></div>
        <div id="product_options">
          <h3>Opções Disponíveis</h3>
          <select id="options">
            {% for variant in variants %}
            <option value="{{ variant.id }}">{{ variant | variant_options_values }} - Valor:{{ variant.price }} </option>
            {% endfor %}
          </select>
          <span class="clear"></span>
        </div>
        <div id="product_buy" class="clearfix">
          <label for="product_buy_quantity">Qtd:</label>
          <input id="quantity" type="text" size="2" />
          <span class="clear"></span>
          <br>
          <input id="product_id" name="product_id" type="hidden" value="{{ product.id }}">
          <a id="add_to_cart" class="s_main_color_bgr"><span class="s_text"><span class="s_icon"></span> Adicionar no Carrinho</span></a>
        </div>
      </div>
      <div class="clear"></div>
      <div class="s_tabs grid_12 alpha omega">
        <ul class="s_tabs_nav clearfix">
          <li><a href="#product_description">Descrição</a></li>
          <li><a href="#product_reviews">Reviews (0)</a></li>
          <li><a href="#product_gallery">Imagens ({{@images.size}})</a></li>
        </ul>
        <div class="s_tab_box">
        
          <div id="product_description">
            <div class="cpt_product_description ">
              {{ product.description }}
            </div>
            <!-- cpt_container_end -->
          </div>

          <div id="product_reviews" class="s_listing">
            <div class="s_review last">
              <p class="s_author"><strong>Shoppica</strong><small>(29/03/2011)</small></p>
              <div class="right">
                <div class="s_rating_holder">
                  <p class="s_rating s_rating_5"><span class="s_percent" style="width: 100%;"></span></p>
                  <span class="s_average">5 out of 5 Stars!</span>
                </div>
              </div>
              <div class="clear"></div>
              <p>Vestibulum molestie tellus rhoncus nulla cursus quis dictum orci laoreet! metus. Vestibulum molestie tellus rhoncus nulla cursus quis dictum orci laoreet! metus.</p>
            </div>
            <div class="pagination"><div class="results">Showing 1 to 1 of 1 (1 Pages)</div></div>
            <h2 class="s_title_1"><span class="s_main_color">Write</span> Review</h2>
            <div id="review_title" class="clear"></div>
            <div class="s_row_3 clearfix">
              <label><strong>Your Name:</strong></label>
              <input type="text" />
            </div>
            <div class="s_row_3 clearfix">
              <label><strong>Your Review:</strong></label>
              <textarea style="width: 98%;" rows="8" cols="50"></textarea>
              <p class="s_legend"><span style="color: #FF0000;">Note:</span> HTML is not translated!</p>
            </div>
            <div class="s_row_3 clearfix">
              <label><strong>Rating</strong></label>
              <span class="clear"></span> <span>Bad</span>&nbsp;
              <input type="radio" />
              &nbsp;
              <input type="radio" />
              &nbsp;
              <input type="radio" />
              &nbsp;
              <input type="radio" />
              &nbsp;
              <input type="radio" />
              &nbsp; <span>Good</span>
            </div>
            <span class="clear border_ddd"></span>
            <a class="s_button_1 s_main_color_bgr"><span class="s_text">Continue</span></a> <span class="clear"></span> </div>
          <div id="product_gallery">
            <ul class="s_thumbs clearfix">
              {% for image in images %}
              <li><a class="s_thumb" href="{{ 'bigger' | image_url :image }}" title="{{ product.name }} " rel="prettyPhoto[gallery]"><img src="{{ 'bigger' | image_url :image }}" width="120" title="Leica M7" alt="{{ product.name }}" /></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    
      
      <div id="product_tags" class="grid_12 alpha omega">
        <h2 class="s_title_1"><span class="s_main_color">Product</span> Tags</h2>
        <div class="clear"></div>
        <ul class="clearfix">
          <li><a href="#">Centrino</a></li>
          <li><a href="#">Intel</a></li>
          <li><a href="#">VAIO</a></li>
          <li><a href="#">laptop</a></li>
          <li><a href="#">notebook</a></li>
        </ul>
      </div>
      
    </div>

  </div>
  <!-- end of content -->
  <script type="text/javascript">

$(document).ready(function() {

  $(".s_tabs").tabs({ fx: { opacity: 'toggle', duration: 300 } });

  $("#product_images a[rel^='prettyPhoto'], #product_gallery a[rel^='prettyPhoto']").prettyPhoto({
    theme: 'light_square',
    opacity: 0.5
  });

});

</script>