.index
  = render "index"

/ form#fileupload action=admin_theme_assets_path(@theme) method="POST" enctype="multipart/form-data"
/   input name="authenticity_token" type="hidden" value=form_authenticity_token 
/     .fileupload-buttonbar
/       .col-lg-7
/         span.btn.btn-success.fileinput-button
/           i.glyphicon.glyphicon-plus
/           spanAdd= t(:add)
/           input multiple="" name="asset[file]" type="file" 
/         '
/         button.btn.btn-primary.start type="submit" 
/           i.glyphicon.glyphicon-upload
/           span= t(:send)
/         '
/         button.btn.btn-warning.cancel type="reset" 
/           i.glyphicon.glyphicon-ban-circle
/           span= t(:cancel)
/         '
/         button.btn.btn-danger.delete type="button" 
/           i.glyphicon.glyphicon-trash
/           span= t(:destroy)
/         '
/         input.toggle type="checkbox" 
/           span.fileupload-process
/       .col-lg-5.fileupload-progress.fade
/         .progress.progress-striped.active aria-valuemax="100" aria-valuemin="0" role="progressbar" 
/           .progress-bar.progress-bar-success style="width:0%;" 
/         .progress-extended &nbsp;
/     table.table.table-striped role="presentation" 
/       tbody.files
/ #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls data-filter=":even" 
/   .slides
/   h3.title
/   a.prev ‹
/   a.next ›
/   a.close ×
/   a.play-pause
/   ol.indicator
/ = render "imentore/admin/assets/file_upload"