doctype html
html
  head
  title ImentoreBase
  = stylesheet_link_tag "admin"
  = csrf_meta_tags
  = yield :header
  css:
    body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
          .sidebar-nav {
            padding: 9px 0;
          }

    .mini{
      width:10%;
    }
    .super-mini{
      width:5%!important;
    }
    table tr th:first-child{
      width:95px;
    }
    form.simple_form.form-inline div.control-group {
      display: inline-block;
    }
    span.help-inline{
      margin:0px 10px 0px 0px;
    }
    .color-white{
      color:white;
    }
    .color-black{
      color:#333;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    }
    i.true{
      background-image:url(/images/admin/success16.png);
      display: inline-block;
      width: 16px;
      height: 15px;
      line-height: 14px;
      vertical-align: text-top;
      background-position: 0px 0px;
      background-repeat: no-repeat;

    }
    i.false{
      background-image:url(/images/admin/failure.png);
      display: inline-block;
      width: 16px;
      height: 15px;
      line-height: 14px;
      vertical-align: text-top;
      background-position: 0px 0px;
      background-repeat: no-repeat;

    }
- content_for :footer do
  javascript:
    $(document).ready(function(){
      if ( $('div.alert.alert-success.hide').text().length > 1 ) {
        $('div.alert.alert-success.hide').slideDown('');
      }
      if ( $('div.alert.alert-error.hide').text().length > 1 ) {
        $('div.alert.alert-error.hide').slideDown('');
      }
      $('.close').bind('click',function(){
        $(this).parents('div.hide').first().slideUp('slow');
      })
    })


body
  = render 'layouts/admin/menu'
  .container-fluid
    .row-fluid
      .span2
        = render 'layouts/admin/sidebar-nav'
      .span10
        = yield :breadcrumb
        .notification
          .div.alert.alert-error.hide
            a(class="close" data-dismiss="alert" href="#")
              = "x"
            = flash[:alert]
          .div.alert.alert-success.hide
            a(class="close" data-dismiss="alert" href="#")
              = "x"
            = flash[:success]
        = yield
    hr
    footer
      p
        | © Company 2012

  .footer
    = javascript_include_tag "admin"
    = yield :footer
  javascript:
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/VI9HreXZC5OfCYBXzI4hdw.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();