@charset "utf-8";
/* CSS Document */


/***  F O R M S  ***/
button,
.s_button
{
  height: 28px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
  font-weight: bold;
  font-size: 11px;
  color: #333;
  background: #e5e5e5 url(../../images/cp/button_default.png) repeat-x top left;
  background: -moz-linear-gradient(#f6f6f6, #e4e4e4) 0 0 no-repeat;
  background: -o-linear-gradient(top, #f6f6f6, #e4e4e4) 0 0 no-repeat;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#e4e4e4)) 0 0 no-repeat;
  border: none;
  border-radius: 30px;
  box-shadow:
    inset 0 1px 0 #d4d4d4,
    inset 0 -1px 0 #afafaf,
    inset 1px 0 0 #c2c2c2,
    inset -1px 0 0 #c2c2c2,
    inset 0 2px #fff
  ;
  -moz-border-radius: 30px;
  -moz-box-shadow:
    inset 0 1px 0 #d4d4d4,
    inset 0 -1px 0 #afafaf,
    inset 1px 0 0 #c2c2c2,
    inset -1px 0 0 #c2c2c2,
    inset 0 2px #fff
  ;
  -webkit-border-radius: 30px;
  -webkit-box-shadow:
    inset 0 1px 0 #d4d4d4,
    inset 0 -1px 0 #afafaf,
    inset 1px 0 0 #c2c2c2,
    inset -1px 0 0 #c2c2c2,
    inset 0 2px #fff
   ;
  -o-box-shadow:
    inset 0 1px 0 #d4d4d4,
    inset 0 -1px 0 #afafaf,
    inset 1px 0 0 #c2c2c2,
    inset -1px 0 0 #c2c2c2,
    inset 0 2px #fff
  ;
}
button:hover,
.s_button:hover
{
  background: #f1f1f1 url(../../images/cp/button_default_hover.png) repeat-x top left;
  background: -moz-linear-gradient(#fbfbfb, #f1f1f1) 0 0 no-repeat;
  background: -o-linear-gradient(top, #fbfbfb, #f1f1f1) 0 0 no-repeat;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#f1f1f1)) 0 0 no-repeat;
}
button:focus,
.s_button:focus
{
  background: -moz-linear-gradient(#ededed, #f9f9f9) 0 0 no-repeat;
  background: -o-linear-gradient(top, #ededed, #f9f9f9) 0 0 no-repeat;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed), to(#f9f9f9)) 0 0 no-repeat;
}
button:disabled,
.s_button.disabled
{
  color: #aaa;
}
button:disabled:hover,
.s_button.disabled:hover
{
  cursor: default;
  background: -moz-linear-gradient(#f6f6f6, #e4e4e4) 0 0 no-repeat;
  background: -o-linear-gradient(top, #f6f6f6, #e4e4e4) 0 0 no-repeat;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#e4e4e4)) 0 0 no-repeat;
}
.s_button {display: inline-block;}




#shoppica_cp {
  z-index: 100;
  position: fixed;
  top: 15px;
  left: 0;
  width: 180px;
  height: 500px;
  padding: 80px 10px 10px 10px;
  padding: 26px 10px 10px 10px;
  background: #2d2d2d url(../../images/cp/panel_bgr.png) no-repeat top center;
  background: #2d2d2d url(../../images/cp/panel_bgr.jpg) no-repeat top center;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
}
#shoppica_cp_title {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 26px;
  line-height: 24px;
  letter-spacing: 3px;
  word-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
}
#shoppica_cp_open {
  z-index: 100;
  position: fixed;
  top: 30px;
  left: 0;
  display: none;
  width: 24px;
  height: 24px;
  background: #2d2d2d url(../../images/cp/panel_bgr.png) no-repeat top right;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
}
#shoppica_cp_open a {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  background: url(../../images/cp/panel_show.png) no-repeat center top;
}
#shoppica_cp_open a:hover {
  background-position: center bottom;
}
#shoppica_cp_close {
  z-index: 20;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 12px;
  height: 12px;
  display: block;
  background: url(../../images/cp/panel_close.png) no-repeat center top;
}
#shoppica_cp_close:hover {
  background-position: center bottom;
}
#shoppica_cp_wrapper {
  width: 180px;
  height: 500px;
  background-color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#themeburn_logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 180px;
  height: 80px;
  text-indent: -1000em;
}
#shoppica_cp h3 {
  cursor: pointer;
  margin: 0;
  padding: 7px 10px 8px 10px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
}
#shoppica_cp .ui-accordion-header.ui-state-default {
  background: url(../../images/cp/panel_header_closed.png) repeat-x top center #cccccc;
  box-shadow: inset 0 -1px 0 #bbb;
  -o-box-shadow: inset 0 -1px 0 #bbb;
  -moz-box-shadow: inset 0 -1px 0 #bbb;
  -webkit-box-shadow: inset 0 -1px 0 #bbb;
}
#shoppica_cp h3, #shoppica_cp .ui-accordion-header.ui-state-active {
  color: #ff4c00;
  background: url(../../images/cp/panel_header.png) no-repeat top center;
  box-shadow: inset 0 -1px 0 #eee;
  -o-box-shadow: inset 0 -1px 0 #eee;
  -moz-box-shadow: inset 0 -1px 0 #eee;
  -webkit-box-shadow: inset 0 -1px 0 #eee;
}
#shoppica_cp h3, #shoppica_cp h3:focus, #shoppica_cp h3:visited {
  outline: none;
}
#shoppica_cp h3:first-of-type {
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
#shoppica_cp .ui-accordion-header.ui-state-default:last-of-type {
  border-radius: 0 0 5px 5px !important;
  -moz-border-radius: 0 0 5px 5px !important;
  -webkit-border-radius: 0 0 5px 5px !important;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#shoppica_cp .s_panel_section {
  ~overflow: hidden;
  position: relative;
  padding: 10px;
  background: url(../../images/cp/panel_section.png) no-repeat center top;
  /* temp */
  height: 448px;
}
#shoppica_cp .ui-accordion-content-active {
  box-shadow: inset 0 -1px 0 #ccc;
  -o-box-shadow: inset 0 -1px 0 #ccc;
  -moz-box-shadow: inset 0 -1px 0 #ccc;
  -webkit-box-shadow: inset 0 -1px 0 #ccc;
}
#shoppica_cp .ui-accordion-content-active:last-of-type {
  border-radius: 0 0 5px 5px !important;
  -moz-border-radius: 0 0 5px 5px !important;
  -webkit-border-radius: 0 0 5px 5px !important;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#shoppica_cp form {
  position: relative;
  height: 500px;
}
#shoppica_cp .s_cp_row {
  padding: 3px 0;
}
#shoppica_cp .s_cp_row:first-child,
#shoppica_cp .s_cp_row:first-child label
{
  padding-top: 0 !important;
}
#shoppica_cp label {
  float: left;
  padding: 4px 0;
  line-height: 14px;
  color: #000;
  font-size: 11px;
}
#shoppica_cp strong {
  font-weight: bold;
}
#shoppica_cp select,
#shoppica_cp input[type=text]
{
  float: left;
  margin-right: 5px;
  line-height: 20px;
  color: #666;
  font-size: 11px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#shoppica_cp input[type=text] {
  height: 18px;
  padding: 1px 3px;
}
#shoppica_cp select {
  width: 100%;
  padding: 3px;
  height: 24px;
}
#shoppica_cp .s_color {
  float: right !important;
}
#shoppica_cp .colorSelector {
  float: right;
}
#shoppica_cp select:hover,
#shoppica_cp select:focus,
#shoppica_cp input[type=text]:hover,
#shoppica_cp input[type=text]:focus
{
  color: #000;
  background-color: #fffbe5;
  border-color: #928641 #d7cd94 #d7cd94 #aea368;
}
#shoppica_cp button {
  position: absolute;
  ~width: 140px;
  bottom: 12px;
  left: 20px;
}

.colorpicker {
  z-index: 1001;
  margin-top: -55px;
  position: fixed !important;
}

.s_save_10 {background-image: url(../../images/i_save_10.png !important;}



