.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 = t(:images)
    ol.breadcrumb
      li
        = link_to(t(:products), admin_products_path)
      li
        = link_to t(:variants), admin_product_variants_path(@variant.product)
      li.active
        strong = t(:images)
  .col-lg-2

.index
  = render "index"

/ - content_for :breadcrumb do
/   == breadcrumb([{ t(:home) => admin_dashboard_path }, { t(:management) => '' }, { t(:products) => url_for(:controller => :products) }, { @variant.product.name => '' }, { t(:variants) => url_for(:controller => :product_variants, product_id: @variant.product.id ) }, { @variant.id.to_s => '' }, { t(:images) => '' } ])

/ legend= t(:images)

/ .wrapper.wrapper-content.animated.fadeInRight
/   .row
/     .col-lg-12
/       .ibox.float-e-margins
/         .ibox-title
/           / h5= t(:product_index)
/           .ibox-tools
/             a.collapse-link
/               i.fa.fa-chevron-up
/             a.dropdown-toggle data-toggle="dropdown" href="#" 
/               i.fa.fa-wrench
/             ul.dropdown-menu.dropdown-user
/               / li
/               /   a href="#"  Config option 1
/               / li
/               /   a href="#"  Config option 2
/             a.close-link
/               i.fa.fa-times
/         .ibox-content
/           .row
/             .col-lg-12
/               /! The file upload form used as target for the file upload widget
/               form#fileupload action=admin_product_variant_images_path(@variant.product.id, @variant.id) enctype="multipart/form-data" method="POST" 
/                 /! Redirect browsers with JavaScript disabled to the origin page
/                 input name="authenticity_token" type="hidden" value=form_authenticity_token 
/                   /! The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
/                   .fileupload-buttonbar
/                     .col-lg-7
/                       /! The fileinput-button span is used to style the file input field as button
/                       span.btn.btn-success.fileinput-button
/                         i.glyphicon.glyphicon-plus
/                         spanAdd= t(:add)
/                         input multiple="" name="image[picture]" type="file" 
/                       '
/                       button.btn.btn-primary.start type="submit" 
/                         i.glyphicon.glyphicon-upload
/                         span= t(:send)
/                       '
/                       button.btn.btn-warning.cancel type="reset" 
/                         i.glyphicon.glyphicon-ban-circle
/                         span= t(:cancel)
/                       '
/                       button.btn.btn-danger.delete type="button" 
/                         i.glyphicon.glyphicon-trash
/                         span= t(:destroy)
/                       '
/                       input.toggle type="checkbox" 
/                         /! The global file processing state
/                         span.fileupload-process
/                     /! The global progress state
/                     .col-lg-5.fileupload-progress.fade
/                       /! The global progress bar
/                       .progress.progress-striped.active aria-valuemax="100" aria-valuemin="0" role="progressbar" 
/                         .progress-bar.progress-bar-success style="width:0%;" 
/                       /! The extended global progress state
/                       .progress-extended &nbsp;
/                   /! The table listing the files available for upload/download
/                   table.table.table-striped role="presentation" 
/                     tbody.files
/               br
/             /! The blueimp Gallery widget
/             #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls data-filter=":even" 
/               .slides
/               h3.title
/               a.prev ‹
/               a.next ›
/               a.close ×
/               a.play-pause
/               ol.indicator

/ = render "imentore/admin/assets/file_upload"