= addr.input :name
= addr.input :street
= addr.input :complement
= addr.input :city
= addr.input :country, :collection => countries, :selected=> "BR"
= addr.input :state, :collection => states, :prompt=> t(:select_state)
= addr.input :zip_code
= addr.input :phone
