- content_for :header do
  = stylesheet_link_tag    "cart"
  = javascript_include_tag "cart"
  = csrf_meta_tags
  css:
    label.inline {
      display: inline-block;
      padding-top: 5px;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .fileinput-button input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      border: solid transparent;
      border-width: 0 0 100px 200px;
      opacity: 0;
      filter: alpha(opacity=0);
      -moz-transform: translate(-300px, 0) scale(4);
      direction: ltr;
      cursor: pointer;
    }

  javascript:
    $(document).ready(function(){


      function calculate_items(){
        var total = 0
        var sub_total = 0
        var shipping = 0
        var coupon = 0
        sub_total = $('td#sub_total').text()
        shipping = $('td#shipping_value').text()
        coupon = $('td#coupon_value').text()
        total = Number(sub_total) + Number(shipping) + Number(coupon)
        $('td#total_amount h4').text(total)
      }
      function delivery_calculate(zip_code, method){
        $.ajax({
          url: '/cart/calculate_shipping',
          type: 'get',
          data: {zip_code:zip_code, method:method},
          dataType: 'json',
          beforeSend: function() {
            $('span#loading').html('<img src="/images/site/loading.gif" />');
          },
          success: function(json) {
            $('td#shipping_value').html(json['total_delivery'])
            $('td#coupon_value').html(json['total_coupon'])
            $('td#total_amount').html(json['total_amount'])
          },
          complete: function() {
            $('span#loading').html('');
          }
        })
      }
      if ($('select#delivery_method').find('option:selected').val() != '') {
        var zip_code = $("input[id$='zip_code']").last().val();
        var method = $('select#delivery_method').find('option:selected').val()
        delivery_calculate(zip_code,method)
      }
      // Javascript Notication - Alert/Success
      $('div.alert').each(function(){
        if ( $(this).find('p').text().length > 1 ) {
         $(this).slideDown('slow')
        }
      })
      $('.close').bind('click',function(){
        $(this).parents('div.hide').first().slideUp('slow');
      })
      
      $('input.checkbox').click(function(){
        //var type = $(this).attr('id');
        var value = $(this).val();
        if ( value != 'other' ) {
          $('#order_billing_address_name').val($('.info.address#'+value).find('label.hide#name').html());
          $('#order_billing_address_street').val($('.info.address#'+value).find('label.hide#street').html());
          $('#order_billing_address_complement').val($('.info.address#'+value).find('label.hide#complement').html());
          $('#order_billing_address_city').val($('.info.address#'+value).find('label.hide#city').html());
          $('select.select#order_billing_address_state').find('option').filter(function() {
              var state = $('.info.address#'+value).find('label.hide#state').html();
              return $(this).val() == state; 
          }).prop('selected', true);

          $('select.select#order_billing_address_country').find('option').filter(function() {
              var state = $('.info.address#'+value).find('label.hide#country').html();
              return $(this).val() == state; 
          }).prop('selected', true);

          $('#order_billing_address_zip_code').val($('.info.address#'+value).find('label.hide#zip_code').html());
          $('#order_billing_address_phone').val($('.info.address#'+value).find('label.hide#phone').html());
          if ( $('input#shipping_address').is(':checked') ){
            $('#order_shipping_address_name').val($('.info.address#'+value).find('label.hide#name').html());
            $('#order_shipping_address_street').val($('.info.address#'+value).find('label.hide#street').html());
            $('#order_shipping_address_complement').val($('.info.address#'+value).find('label.hide#complement').html());
            $('#order_shipping_address_city').val($('.info.address#'+value).find('label.hide#city').html());
            $('select.select#order_shipping_address_state').find('option').filter(function() {
                var state = $('.info.address#'+value).find('label.hide#state').html();
                return $(this).val() == state; 
            }).prop('selected', true);

            $('select.select#order_shipping_address_country').find('option').filter(function() {
                var state = $('.info.address#'+value).find('label.hide#country').html();
                return $(this).val() == state; 
            }).prop('selected', true);
            $('#order_shipping_address_zip_code').val($('.info.address#'+value).find('label.hide#zip_code').html());
            $('#order_shipping_address_phone').val($('.info.address#'+value).find('label.hide#phone').html());            
          }
        } else {
          $('#order_billing_address_name').val('');
          $('#order_billing_address_street').val('');
          $('#order_billing_address_complement').val('');
          $('#order_billing_address_city').val('');
          $('#order_billing_address_zip_code').val('');
          $('#order_billing_address_phone').val('');
          $('#order_billing_address_state').find('option').first().prop('selected', true);
          if ( $('input#shipping_address').val() == 'true' ){
            $('#order_shipping_address_name').val('');
            $('#order_shipping_address_street').val('');
            $('#order_shipping_address_complement').val('');
            $('#order_shipping_address_city').val('');
            $('#order_shipping_address_zip_code').val('');
            $('#order_shipping_address_phone').val('');
            $('#order_shipping_address_state').find('option').first().prop('selected', true);
          }
        }
      })
      $('input#shipping_address').click(function(){
        if ( !$(this).is(':checked')){
          $('#order_shipping_address_name').val('');
          $('#order_shipping_address_street').val('');
          $('#order_shipping_address_complement').val('');
          $('#order_shipping_address_city').val('');
          $('#order_shipping_address_zip_code').val('');
          $('#order_shipping_address_phone').val('');
          $('#order_shipping_address_state').find('option').first().prop('selected', true);
        }else{
          $('#order_shipping_address_name').val($('#order_billing_address_name').val());
          $('#order_shipping_address_street').val($('#order_billing_address_street').val());
          $('#order_shipping_address_complement').val($('#order_billing_address_complement').val());
          $('#order_shipping_address_city').val($('#order_billing_address_city').val());
          $('#order_shipping_address_zip_code').val($('#order_billing_address_zip_code').val());
          $('#order_shipping_address_phone').val($('#order_billing_address_phone').val());                    
          $('select.select#order_shipping_address_state').find('option').filter(function() {
              var state = $('#order_billing_address_state').val();
              return $(this).val() == state; 
          }).prop('selected', true);

          $('select.select#order_shipping_address_country').find('option').filter(function() {
              var state = $('#order_billing_address_country').val();
              return $(this).val() == state; 
          }).prop('selected', true);

        }
      })
      $('input#billing_address.checkbox').first().trigger('click')
      $('input#shipping_address').first().trigger('click')
      $('a#calculate_zip').click(function(e){
        var zip_code = $("input[id$='zip_code']").last().val();
        var method = $('select#delivery_method').find('option:selected').val()
        delivery_calculate(zip_code,method)
        e.preventDefault();
      })
      $('select#delivery_method').change(function(){
        var zip_code = $("input[id$='zip_code']").last().val();
        var method = $('select#delivery_method').find('option:selected').val();
        delivery_calculate(zip_code,method)
      })
    })

.container
  .row
    .notification
      div.alert.alert-block.hide
        a[class="close" data-dismiss="alert" href="#"]
          = "x"
        h4[class="alert-heading"]
          = t(:warning)
        p
          = flash[:alert]
      div.alert.alert-success.hide
        a[class="close" data-dismiss="alert" href="#"]
          = "x"
        h4[class="alert-heading"]
          = t(:success)
        p
          = flash[:success]


.container
  .row
    /! **********************
    /! I N T R O
    /! **********************
    #intro
      #intro_wrap
        .container_12
          #breadcrumbs.grid_12
            a href="/cart"  Carrinho
            '
            | &gt;
            '
            a href=address_checkout_path 
              | Endereço
            '
            | &gt;
            '
            a href=""  Pagamento
          h1 Pagamento
    /! end of intro

    table.table.table-striped.table-bordered.table-condensed
      thead
        tr
          th= t(:product)
          th= t(:variant)
          th= t(:quantity)
          th= t(:price)
          th= t(:amount)
      tbody
        - @order.items.each do |item|
          tr
            td
              = "#" + item.product.id.to_s
              '
              = item.product.name
            td
              - item.variant.options.each do |type|
                = "#" + type.product_variant_id.to_s
                '
                = "#{type.option_type.name}: #{type.value}"
                = " | "
            td= item.quantity
            td= number_with_price(item.value)
            td= number_with_price(item.amount)
        tr
          td &nbsp
          td &nbsp
          td(colspan='2' style='text-align:center;')
            '
            = t(:sub_total)
          td#sub_total
            = number_with_price(current_cart.amount)
        tr
          td &nbsp
          td &nbsp
          td(colspan='2' style='text-align:center;')
            = t(:shipping_value)
          td#shipping_value
            | 0
        tr
          td &nbsp
          td &nbsp
          td(colspan='2' style='text-align:center;')
            = t(:coupon_value)
          td#coupon_value
            = number_with_price(current_cart.coupons_amount)
        tr
          td &nbsp
          td &nbsp
          td(colspan='2' style='text-align:center;')
            h3= t(:total)
          td#total_amount
            h4= number_with_price(@order.total_amount)

  .row
    = simple_form_for(@order, url: confirm_checkout_path, :html => {:class => 'form-horizontal', :method => 'put' }) do |f|
      = hidden_field_tag :zip_code, f.object.try(:zip_code)
      #accordion1.accordion
        .accordion-group
          #collapseThree.accordion-body.collapsy
            .accordion-inner
              .span12
                .row
                  .span5
                    fieldset#payment-method
                      = f.simple_fields_for :invoice, f.object.invoice do |inv|
                        = inv.input :payment_method, label: t(:payment_method), collection: current_store.payment_methods.active, :selected => f.object.invoice.try(:payment_method_id), :prompt => t(:select)
                  .span4
                    fieldset#delivery-method
                      = f.simple_fields_for :delivery, f.object.delivery do |del|
                        = del.input :delivery_method, label: t(:delivery_method), collection: current_store.delivery_methods.active, :selected => f.object.delivery.try(:delivery_method_id), :input_html => { id: 'delivery_method'}, :prompt => t(:select)
                  .span2
                    a(href='#' type='submit' class='btn btn-small' id='calculate_zip')
                      i.icon-refresh
                      '
                      = t(:calculate)
                    span#loading

              .clearfix
      .form-actions
        .span2
          - if current_store.config.order_asset
            a(class="btn" data-toggle="modal" href="#orderAssets" class='btn btn-primary btn-large')
              i.icon-file.icon-white
              '
              = t(:send_files)
        .span3.offset5
          button(class='btn-primary btn-large btn-success')
            i.icon-ok.icon-white
            '
            = t(:finished_order)


  / .modal.hide#orderAssets(style='width:840px')
  /   .modal-header
  /     button(type="button" class="close" data-dismiss="modal")
  /      ' x
  /     h3 Arquivos
  /   .modal-body(style='height:400px;')
  /     = form_for(@image, as: :asset, url: order_assets_path(:order_id => @order.id), html: { multipart: true }) do |f|
  /       .row.fileupload-buttonbar
  /         .span6
  /           span.btn.btn-success.fileinput-button
  /             i.icon-plus.icon-white
  /             span= t(:send_files)
  /             = file_field_tag "asset[file]", multiple: true
  /           '
  /           button.btn.btn-primary.start(type="submit")
  /             i.icon-upload.icon-white
  /             span= t(:start_upload)

  /         .span4
  /           .progress.progress-success.progress-striped.active.fade
  /             .bar(style="width:0%;")

  /       .fileupload-loading

  /       table.table.table-striped
  /         tbody.files(data-toggle="modal-gallery" data-target="#modal-gallery")

  /     = render "imentore/admin/assets/file-upload"
  /   .modal-footer
  /     a(href="#" class="btn" data-dismiss="modal")
  /       | Close2