#style_changer {


    position: fixed;
    top: 0;
    width: 210px;
    z-index:5000;
    left:0;
}
#changer_body{

	width:190px;
	 background: none repeat scroll 0 0 white;
	  border-radius: 0 0 8px 0;
     -moz-border-radius: 0 0 8px 0;
 -webkit-border-radius: 0 0 8px 0;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    padding-top:5px;
    float:left;
}

#changer_logo {
    background: url("changer_logo.png") no-repeat scroll 0 0 transparent;
    height: 26px;
    margin: 20px auto;
    width: 114px;
}

#color_picker1, #color_picker2, #color_picker3, #color_picker4, #color_picker5, #color_picker6, #color_picker7, #color_picker8, #color_picker9, #color_picker10 {
    background: url("select.png") repeat scroll 0 0 transparent;
    height: 36px;
    position: relative;
    width: 36px;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

.color_column .column_name {
    float: left;
    line-height: 36px;
    width: 130px;
}
.color_column .picker_column {

	float:left;
}
.color_column {
    overflow: auto;
    padding-bottom: 10px;
}
#style_container {
    border-top: 5px solid #f6f6f6;
    padding: 10px 12px;
    font-family:Arial, Helvetica, sans-serif;
}
#changer_icon {
    background: none repeat scroll 0 0 white;
    border-radius:0 5px 5px 0;
    float: left;
    height: 40px;
    width: 20px;
    box-shadow:9px 2px 9px rgba(0, 0, 0, 0.3);
}
#close_open {
    background: url(open_close.png) no-repeat;
    text-indent: -9999px;
    display: block;
    width: 8px;
    height: 8px;
    margin: 14px 5px 5px;
}
#buy_gentle {
    background: none repeat scroll 0 0 #DE360F !important;
    border-radius: 4px 4px 4px 4px;
    color: white;
    padding: 0 10px;
}
#buy_gentle:hover {
    background: #64A4A4 !important;
}
.headings_font {
    width: 160px;
}