.primary_color, h1, h2, h3, h4, h5, h6, .box .box-heading, .welcome, #currency a b, #footer-top-outside, #footer-top-outside p,
.box-product .name a, #categories_footer ul li a, #footer-top-outside li,  #twitter_footer li a, .htabs a, .product-grid .name a, .product-list .name a, .checkout-heading,
.cart-info thead td
{
  color: #2d2d2d;
}

.secondary_color, p, body, #header #search input,  .heading h4, #currency a, #footer ul li a, .cart_right a, .box-category > ul > li ul > li a, .product-list .wishlist a, .product-list .compare a,
.product-list .price-tax
{
color: #808080;
}


.third_color, a , .links a:hover, #twitter_footer li span a, #footer ul li a:hover {

color: #de360f;

}

.fourth_color, a:hover, #twitter_footer li span a:hover, .product-info .description span {
/* GREEN */
color: #64a4a4;
}

.fourth_color_bg, #header #welcome a, register_welcome a:hover, a.button, a.button span {
/* GREEN */
background-color: #64a4a4;
}

.secondary_color_bg, #header #welcome a:hover, .register_welcome a, a.button:hover, a.button:hover span {
/* DARK GREY*/
background-color: #808080;

}

a.button span,#header #welcome a,#header #welcome a:hover {
color: #ffffff;
}

.third_color_bg, #menu > ul > li ul > li > a:hover {
/*ORANGE */
background-color: #de360f;

}

.sixth_color_bg:hover, #menu > ul > li:hover {
/* DARKER ORANGE - FOR HOVER ON MENU */
background-color: #c10b01;
}
.sixth_color_border, #menu > ul > li > div, #cart .content {
border-color: #c10b01;
}
#menu > ul > li > a, #menu > ul > li > a:hover {
color: #ffffff;
}

.box-product .price, .product-info .price, .product-grid .price, .product-list .price, .compare-info .price-new {
color:#de360f;
}

.product-info .price-old, .product-grid .price-old, .product-list .price-old, .compare-info .price-old, .box-product .price-old  {

color:#2d2d2d;
}

body {

background-color: #f3f3f3;
}
body{
font-family:Arial;
}

h1, .welcome, .box .box-heading, #footer-top-outside h2, #footer h3, .product-grid .name a
{



font-family: 'Arial', arial, serif;


}
  body{

background-image:url("5.png");

}






#container{

background: none repeat scroll 0 0 white;
}



