/* God I hate Microsoft! 

+1
*/

#menu{
	
	z-index:3000;
}

#header #cart {
	width: 400px;
}
#header #cart .heading {
	position: relative;
	right: 172px;
	margin-right: 0px;
}
#header #cart .content {
	
}
#header #search {
	position: inherit;
	float: right;
}
#header .button-search {
	
}
#header #search input {
	padding: 3px 1px 1px 33px;
	height: 19px;
}
/* menu */
#menu ul li {
	position: relative;
}
#menu ul li div {
	background:#f6f6f6;
}
.categories_spacer{
	
	display:none;
}
#menu ul li.active div {
	display: block;
	padding:0;
	border:0px;

}
#menu > ul > li ul > li  {
	
}
.success, .warning, .attention, .information {
	position: relative;
}
.success .close, .warning .close, .attention .close, .information .close {
	position: absolute;
	right: 10px;
}
.box-product > div {
	display: inline;
}
.product-grid > div {
	display: inline;
}
/* button */
.prduct-info a.button span {
	line-height: 12px;
	display: block;
}
#header #welcome{
float:none;
}
.slideshow{
	
	z-index:10;
}
 ul, #footer ul{
	
	
	margin-left:0;
}
#header #search input {
	
	padding-left:10px;
}
.product-filter .display b{
float:left;
}


#list_b, #list_a, #grid_b, #grid_a{
	
	float:left;
}
.box-category ul {
	
	list-style:none !important;
	list-style-image:none !important;
}
.banner{
	
	float:left;
}