/*
 *= require bootstrap2
 *= require bootstrap-responsive2
*/

ul li {
  list-style: none;
}
a{
  color: #333;
}
input[type='text'], input[type='email'], input[type='tel']{
  height:26px!important;
  margin-bottom: 0px!important;
}
span{
  display: inline-block;
  vertical-align: middle;
}
.alert{
   margin-top:30px;
}