/*
 *= require bootstrap
 *= require bootstrap-responsive
*/

ul li {
  list-style: none;
}
a{
  color: #333;
}
input[type='text'], input[type='email'], input[type='tel']{
  height:26px!important;
  margin-bottom: 0px!important;
}